@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

:root {
  --primary-color: #fff;
  --secondary-color: #00E676;
  --tertiary-color: #323232;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

.logo {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "title title title title"
  "filler subtitle subtitle subtitle"
  ;
}

h3 {
  font-size: 2.5rem;
}

.logo h1{
  grid-area: title;
  font-weight: bold;
  font-size: 3rem;
  justify-self: left;
}

.logo span {
  grid-area: subtitle;
  text-align: right;
  font-size: 1.5rem;
  justify-self: left;
}

.fill {
  grid-area: filler;
  width: 65px;
  height: 6px;
  background: var(--secondary-color);
  align-self: center;
  justify-self: center;
}

nav {
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
}

nav a {
  color: var(--tertiary-color);
}

.hero-wrapper {
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

.hero-text {
  color: var(--primary-color);
}

.hero-text h2 {
  font-size: 3.5rem;
  font-weight: 800;
}
.hero-text span {
  font-size: 2.5rem;
}

.hero-links {
  display: flex;
  gap: 2.5rem;
  margin-top: 2rem;
}

.hero-links img{
  height: 3rem;
}

.rocket {
  height: 30rem;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem;
}

.perfil-img {
  height: 12rem;
  width: 12rem;
}

.about-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--secondary-color);
  gap: 0.5rem;
}

.about-title img  {
  height: 3rem;
}

.about-wrapper p {
  font-size: 1.8rem;
  max-width: 500px;
  text-align: center;
}