@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

:root {
  --primary-color: #fff;
  --secondary-color: #00E676;
  --tertiary-color: #323232;
}

.bg-green {
  background-color: var(--secondary-color);
}
.bg-white {
  background-color: var(--primary-color);
}
.bg-gray {
  background-color: var(--tertiary-color);
}

.icon-medium {
  height: 3rem;
}
.icon-large {
  height: 4rem;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

.logo {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "title title title title"
  "filler subtitle subtitle subtitle"
  ;
}

h3 {
  font-size: 2.5rem;
  text-align: center;
}

.logo h1{
  grid-area: title;
  font-weight: bold;
  font-size: 3rem;
  justify-self: left;
}

.logo span {
  grid-area: subtitle;
  text-align: right;
  font-size: 1.5rem;
  justify-self: left;
}

.fill {
  grid-area: filler;
  width: 65px;
  height: 6px;
  background: var(--secondary-color);
  align-self: center;
  justify-self: center;
}

nav {
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
}

nav a {
  color: var(--tertiary-color);
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

.hero-text {
  color: var(--primary-color);
}

.hero-text h2 {
  font-size: 3.5rem;
  font-weight: 800;
}
.hero-text span {
  font-size: 2.5rem;
}

.hero-links {
  display: flex;
  gap: 2.5rem;
  margin-top: 1.2rem;
}

.hero-links img{
  height: 3rem;
}

.rocket {
  height: 30rem;
}

.generic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem;
}

.generic-wrapper p {
  font-size: 2rem;
  max-width: 600px;
  text-align: center;
}
.generic-wrapper span{
  font-size: 1.6rem;
  max-width: 600px;
  text-align: center;
}
.generic-wrapper span span {
  color: var(--secondary-color)
}

.generic-wrapper span {
  color: white;
}

.generic-wrapper span a {
  color: var(--secondary-color);
}


.perfil-img {
  height: 12rem;
  width: 12rem;
}

.about-title {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  gap: 0.5rem;
  text-align: center;
}

.projects-title {
  display: flex;
  color: var(--secondary-color);
  gap: 1rem;
  justify-content: center;
  text-align: center;
}

.cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 2rem;
}

.card {
  background-color: var(--primary-color);
  height: 150px;
  width: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-footer {
  background-color: var(--secondary-color);
  border-radius: 0 0 5px 5px;
}

.card-footer span {
  color: var(--tertiary-color);
  text-align: center;
  width: 100%;
  display: block;
  
}
.github-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid white;
  border-radius: 50px;
  padding: 0.6rem 1rem;
  margin-top: 1rem;
}

.github-button img {
  height: 2.5rem;
}
.github-button span {
  font-size: 1.3rem;
}

.tech-title {
  display: flex;
  color: var(--primary-color);
  gap: 1rem;
  text-align: center;

}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}
.tech {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 250px;
  gap: 1rem;
}
.tech h4 {
  font-size: 2rem;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color)
}

.tech ul {
  color: var(--primary-color);
  font-size: 1.6rem;
  list-style: none;
  text-align: center;
}

.tech ul li {
  margin: 1rem;
  font-weight: bold;
}

.tech:nth-child(2) {
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
}
.quoter-img {
  border-radius: 50%;
  height: 12rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.quote-icon {
  position: relative;
  bottom: 70px;
  left: 15px;
  z-index: 3000;
}
.quoter-name {
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.testimonials-control {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#quote-counter {
  color: var(--tertiary-color);
  font-size: 2rem;
  font-weight: bold;
}

.contact-title {
  display: flex;
  color: var(--primary-color);
  gap: 1rem;
  justify-content: center;
  text-align: center;
}

.contact-form {
  grid-template-columns: 1fr 3fr;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30rem;
}

.contact-form span {
  text-align: left;
}

.contact-form input {
  height: 3rem;
  border-radius: 5px;
  border: none;
}

textarea {
  height: 20rem;
  border-radius: 5px;
  overflow: auto;
}

.footer {
  height: 4rem;
  background-color: var(--secondary-color);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h5 {
  font-weight: normal;
}

.footer h5 span {
  font-weight: bold;
}

/* BREAK POINTS */

@media (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 4rem
  }
  .tech {
    width: 200px
  }
  .rocket {
    height: 25rem;
  }
}

@media (max-width: 768px) {
  .hero-text h2 {
    font-size: 3rem;
    font-weight: 800;
  }
  .hero-text span {
    font-size: 2rem;
  }
  
  .hero-links img{
    height: 2.5rem;
  }
  
  .rocket {
    height: 20rem;
  }
  .header-wrapper {
    display: none;
  }
}

@media(max-width: 650px) {
  .tech-grid {
    grid-template-columns: 1fr;
  }
  .tech:nth-child(2) {
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  } 
  .card {
    height: 125px;
    width: 200px;
  }
  .rocket {
    height: 18rem;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-links {
    justify-content: center;
  }

  .about-title {
    flex-direction: column;
  }
  .tech-title {
    flex-direction: column;
  }
  .projects-title {
    flex-direction: column;
  }
  .about-title {
    flex-direction: column;
    text-align: center;
  }
  .contact-form span {
    text-align: left;
  }
  
  .contact-form {
    width: 25rem;
  }
  .footer {
    font-size: 1.8rem;
    text-align: center;
  }
  
  
}